*{
    padding:0;
    margin:0;
}
body{
    height: 100vh;
    background-color: #343a40;
}
#title{
    text-align: center;
    /* color:#00d28a; */
    color: white;
}
form{
    border:none;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    background-color:  #f7931a  ;
    color: black;
}
#set-1{
    border-radius: 5px;
    border:2px solid #343a40;
    margin: 5px;
}
label{
    width: 95%;
    margin: 9px auto;
    display: block;
}
input{
    border-radius: 5px;
    border: none;
}
#set-1 input{
    display: block;
    width: 100%;
}
#set-2{
    border: 2px solid #343a40;
    border-radius: 10px;
    margin: 10px;
    border-style: dotted;
}
#salary{
    width: 92%;
}
#set-3{
    border-radius: 5px;
    border:2px solid #343a40;
    margin: 5px;
}
#set-3 input{
    margin-right: 10px;
    vertical-align: middle;
}
ul{
    border: none;
    padding: 5px;
    list-style: none;
}
li{
    margin:4px 0 0 0;
}
#submit{
    display: block;
    color: white;
    width: 20%;
    background-color: #343a40;
    margin: 0 200px;
    border-style: dashed;
}